version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
      - redis
    environment:
      # Обычно через Ansible Playbook прокидывается, но для тестового задания сойдёт
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_DBNAME: tasktracker
      MYSQL_MAX_OPEN_CONNS: 10
      MYSQL_MAX_IDLE_CONNS: 5
      MYSQL_CONN_MAX_LIFETIME_MINS: 60

      REDIS_ADDR: redis:6379
      REDIS_PASSWORD: redispass
      REDIS_DB: 0
      REDIS_DIAL_TIMEOUT_SECONDS: 5
      REDIS_POOL_SIZE: 10
      REDIS_MIN_IDLE_CONNS: 2

    ports:
      - "8080:8080"

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: tasktracker
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7
    restart: always
    command: ["redis-server", "--requirepass", "redispass"]
    environment:
      REDIS_PASSWORD: redispass
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data: